<style>
  <%= ".cont-#{current_user.id}" %> {
    padding-right: 0px !important;
    padding-left: 4rem !important;
    align-items: end !important;
  }
  <%= ".msg-#{current_user.id}" %> {
    background-color: #19A7CE !important;
  }
</style>

<div class="flex flex-col h-full" data-controller="channels">
  <div class="">
    <button data-action="click->channels#toggleSidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 mb-2 text-sm text-primary rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
      <span class="sr-only">Open sidebar</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
      </svg>
    </button>
  </div>

  <div class="flex-1 relative border-2 border-primary rounded-md">
    <aside data-channels-target="sidebar" id="default-sidebar" class="rounded border-2 border-primary absolute z-9 w-64 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      <div class="h-full p-2 overflow-y-auto rounded-sm bg-primary flex flex-col gap-1">
        <%= render partial: "messages/channel", collection: @channels %>
      </div>
    </aside>

    <div class="rounded-lg sm:ml-64 flex flex-col h-full" data-action="click->channels#hideSidebar">
      <% if @channel %>
        <div class="flex-1">
          <%= turbo_frame_tag "#{@channel.uuid}-messages", class: "flex flex-col-reverse gap-3 overflow-y-auto h-[calc(100dvh-17rem)] md:h-[calc(100dvh-14.1rem)] p-2", data: { "channels-target": "messages" } do %>
            <%= render @messages %>
            <%= render partial: "shared/pager", locals: { resource: @messages, path: messages_path, parameters: { uuid: @channel.uuid } } %>
          <% end %>
        </div>
        <%= form_with model: Message.new, data: { "channels-target": "form", action: "turbo:submit-end->channels#resetForm" } do |form| %>
          <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50">
            <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                    <path fill="currentColor" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
                </svg>
                <span class="sr-only">Upload image</span>
            </button>
            <%= form.hidden_field :channel_id, value: @channel.id %>
            <%= form.text_area :content, rows: 1, data: { action: "keydown->channels#checkForSubmit" }, required: true, class: "input resize-none" %>
            <%= form.button class: "inline-flex justify-center p-2 text-primary rounded-full cursor-pointer hover:bg-blue-100" do %>
              <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                  <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
              </svg>
              <span class="sr-only">Send message</span>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>Selecciona el chat</p>
      <% end %>
    </div>
  </div>
</div>
