<div class="m-auto w-full md:w-1/2 lg:w-2/5">
  <%= form_with url: login_path, scope: :user, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
    <div class="mb-4 text-lg font-medium">
      <%= t("pages.account.form.sign_in.noun") %>
    </div>
    <div class="mb-4 relative">
      <%= form.email_field :email, autofocus: true, required: true, class: input_classes, placeholder: "" %>
      <%= form.label :email, t("activerecord.attributes.user.email"), class: label_classes %>
    </div>
    <div class="mb-4 relative">
      <%= form.password_field :password, required: true, class: input_classes, placeholder: "" %>
      <%= form.label :password, t("activerecord.attributes.user.password"), class: label_classes %>
    </div>
    <div class="mb-4 flex items-center">
      <%= form.check_box :remember_me, class: checkbox_classes %>
      <%= form.label t("pages.account.form.remember_me"), class: "text-sm" %>
    </div>
    <%= form.submit t("pages.account.form.sign_in.verb"), class: button_classes %>
    <div class="mb-4 mt-4 text-sm text-center text-secondary">
      <%= link_to t("pages.account.form.forgot_password"), new_password_path, class: "text-sm" %>
    </div>
    <div class="">
      <%= link_to t("pages.account.form.sign_up.verb"), sign_up_path, class: button_classes("bg-secondary hover:bg-secondary-hover block") %>
    </div>
  <% end %>
</div>
