<div class="m-auto w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
  <%= form_with url: login_path, scope: :user, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
    <div class="mb-4 text-lg">
      <%= "i18n Inicio de sesión" %>
    </div>
    <div class="mb-4 relative">
      <%= form.email_field :email, required: true, class: "block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "" %>
      <%= form.label :email, "i18n Correo", class: "absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4" %>
    </div>
    <div class="mb-4 relative">
      <%= form.password_field :password, required: true, class: "block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "" %>
      <%= form.label :password, "i18n Contraseña", class: "absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4" %>
    </div>
    <div class="mb-4 flex items-center">
      <%= form.check_box :remember_me, class: "w-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5", placeholder: "i18n Password" %>
      <%= form.label "i18n Recuérdame" %>
    </div>
    <%= form.submit "i18n Iniciar sesión", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center", style: "cursor: pointer;" %>
    <div class="mb-4 text-center text-blue-700">
      <%= link_to "Olvidé mi contraseña", new_password_path, class: "" %>
    </div>
    <div class="">
      <%= link_to "i18n Registrarse", sign_up_path, class: "block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" %>
    </div>
  <% end %>
</div>
