<div class="flex flex-col mx-auto max-w-3xl">
  <div class="pt-6 pb-8 md:pb-0 flex px-4 md:px-0">
    <div class="flex flex-col gap-3">
      <h1 class="text-third text-6xl md:text-7xl font-serif">
        <%= t("pages.tasks.heading") %>
      </h1>
      <p class="text-secondary text-base md:text-xl">
        <%= t("pages.tasks.subheading") %>
      </p>
      <div class="flex justify-start mb-2">
        <div class="w-full md:w-auto">
          <%= button_to t("pages.tasks.create_task"),
                      new_task_path,
                      method: :get,
                      class: "btn bg-third hover:bg-third-light",
                      data: { turbo_frame: dom_id(Task.new) } unless current_page?(my_bids_path) %>
        </div>
      </div>
    </div>
    <div class="">
      <%= image_tag("/homework.png", class: "hidden md:block") %>
    </div>
  </div>

  <%= turbo_frame_tag Task.new %>
  
  <%= turbo_frame_tag "tasks" do %>
    <%= render @tasks %>
  <% end %>

  <%= turbo_frame_tag "tasks-pagination", src: root_path(page: @pagy.next, format: :turbo_stream) %>
  <div id="tasks-loader" class="w-full flex justify-center mt-3 text-primary">
    <div role="status" class="w-7">
      <%= render partial: "icons/spinner" %>
    </div>
  </div>
</div>
