<div class="flex flex-col mx-auto max-w-2xl">
  <div class="flex justify-end mb-2">
    <div class="w-full md:w-auto">
      <%= button_to t("pages.tasks.create_task"),
                  new_task_path,
                  method: :get,
                  class: "btn bg-primary hover:bg-primary-light",
                  data: { turbo_frame: dom_id(Task.new) } unless current_page?(my_bids_path) %>
    </div>
  </div>

  <%= turbo_frame_tag Task.new %>
  
  <%= turbo_frame_tag "tasks" do %>
    <%= render @tasks %>
  <% end %>

  <%= turbo_frame_tag "tasks-pagination", src: root_path(page: @pagy.next, format: :turbo_stream) %>
  <div id="tasks-loader" class="w-full flex justify-center mt-3 text-primary">
    <div role="status" class="w-7">
      <%= render partial: "icons/spinner" %>
    </div>
  </div>
</div>
