<%= form_with model: user, url: path, method: method, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
  <div class="mb-2 text-lg font-semibold">
    <% if user.new_record? %>
      <%= t("pages.account.form.sign_up.noun") %>
    <% else %>
      <%= t("pages.account.form.update.noun") %>
    <% end %>
  </div>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="mb-2 flex justify-center" data-controller="previews">
    <%= form.label :avatar do %>
      <%= image_tag form.object.avatar.attached? && form.object.avatar.blob.present? && form.object.avatar.blob.persisted? ? form.object.avatar.variant(:thumb) : "/default-avatar.png",
                    data: { previews_target: "preview", action: "click->previews#openFileInput" },
                    class: "w-20 h-20 rounded cursor-pointer shadow-sm border-2 border-gray-300 shadow-gray-300" %>
    <% end %>
    <%= form.hidden_field :avatar, value: form.object.avatar.blob.signed_id if form.object.avatar.attached? && form.object.avatar.blob.present? && form.object.avatar.blob.persisted? %>
    <%= form.file_field :avatar,
                        data: { previews_target: "input", action: "change->previews#preview" },
                        accept: 'image/png,image/jpeg,image/jpg',
                        class: "hidden" %>
  </div>
  <div class="mb-2">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, required: true, class: "input", placeholder: "Elon" %>
  </div>
  <div class="mb-2">
    <%= form.label :surname, class: "label" %>
    <%= form.text_field :surname, required: true, class: "input", placeholder: "Musk" %>
  </div>
  <div class="mb-2">
    <%= form.label :email, class: "label" %>
    <%= form.email_field :email, disabled: user.persisted?, class: "input", placeholder: "elon@example.com" %>
  </div>
  <div class="mb-2 flex gap-x-2">
    <div class="w-1/2">
      <%= form.label :username, class: "label" %>
      <%= form.text_field :username, required: true, class: "input", minlength: User::USERNAME_MIN_LENGTH, maxlength: User::USERNAME_MAX_LENGTH, placeholder: "elonmusk" %>
    </div>
    <div class="w-1/2">
      <%= form.label :phone, class: "label" %>
      <%= form.telephone_field :phone, required: true, class: "input", placeholder: "987654321" %>
    </div>
  </div>
  <div class="mb-2 flex gap-x-2">
    <div class="w-1/2">
      <%= form.label :gender, class: "label" %>
      <%= form.select :gender, User.genders.keys.map { |k| [t("activerecord.models.user.enums.gender.#{k}"), k] }, {}, { class: "select" } %>
    </div>
    <div class="w-1/2">
      <%= form.label :birthdate, class: "label" %>
      <%= form.text_field :birthdate,
                          required: true,
                          class: "input",
                          data: { controller: "flatpickr",
                                  "flatpickr-params-value": {
                                    dateFormat: "d-m-Y",
                                    defaultDate: form.object.birthdate.present? ? form.object.birthdate.strftime("%d-%m-%Y") : Date.today.strftime("%d-%m-%Y"),
                                    maxDate: Date.today.strftime("%d-%m-%Y"),
                                    minDate: (Date.today - 100.years).strftime("%d-%m-%Y")
                                  }
                                } %>
    </div>
  </div>
  <div class="mb-2">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, required: user.new_record?, class: "input", placeholder: "" %>
  </div>
  <div class="mb-2">
    <%= form.label :password_confirmation, class: "label" %>
    <%= form.password_field :password_confirmation, required: user.new_record?, class: "input", placeholder: "" %>
  </div>
  <% if user.persisted? %>
    <div class="mb-2">
      <%= form.label :current_password, t("pages.account.form.current_password"), class: "label" %>
      <%= form.password_field :current_password, required: true, class: "input", placeholder: "" %>
    </div>
  <% end %>
  <% if user.new_record? %>
    <div class="flex items-start mb-2">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required>
      </div>
      <label for="remember" class="ml-2 text-sm font-medium text-gray-900"><%= t("pages.account.form.accept") %><%= link_to t("pages.account.form.terms_and_conditions"), terms_and_conditions_path, class: "text-primary" %></label>
    </div>
  <% end %>
  <%= form.button class: "btn bg-primary hover:bg-primary-light", style: "cursor: pointer;" do %>
    <%= render partial: "shared/spinner", locals: { text: user.new_record? ? t("pages.account.form.sign_up.verb") : t("pages.account.form.update.verb") } %>
  <% end %>
  <% if user.new_record? %>
    <div class="text-sm text-center mt-4">
      <%= t("pages.account.form.already_have_account") %><%= link_to t("pages.account.form.sign_in.verb"), login_path, class: "text-primary font-semibold" %>
    </div>
  <% end %>
<% end %>
