<%= form_with model: user, url: path, method: method, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
  <div class="mb-4 text-lg">
    <% if user.new_record? %>
      <%= t("pages.account.form.sign_up.noun") %>
    <% else %>
      <%= t("pages.account.form.update.noun") %>
    <% end %>
  </div>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="mb-4 relative">
    <%= form.text_field :name, required: true, class: input_classes, placeholder: "" %>
    <%= form.label :name, class: label_classes %>
  </div>
  <div class="mb-4 relative">
    <%= form.text_field :surname, required: true, class: input_classes, placeholder: "" %>
    <%= form.label :surname, class: label_classes %>
  </div>
  <div class="mb-4 relative">
    <%= form.email_field :email, disabled: user.persisted?, class: input_classes, placeholder: "" %>
    <%= form.label :email, class: label_classes %>
  </div>
  <div class="mb-4 flex gap-x-2">
    <div class="w-1/2 relative">
      <%= form.text_field :username, required: true, class: input_classes, placeholder: "" %>
      <%= form.label :username, class: label_classes %>
    </div>
    <div class="w-1/2 relative">
      <%= form.text_field :phone, required: true, class: input_classes, placeholder: "" %>
      <%= form.label :phone, class: label_classes %>
    </div>
  </div>
  <div class="mb-4 flex gap-x-2">
    <div class="w-1/2 relative">
      <%= form.date_field :birthdate, required: true, class: input_classes, placeholder: "" %>
      <%= form.label :birthdate, class: label_classes %>
    </div>
    <div class="w-1/2 relative">
      <%= form.select :gender, [["Masculino", "male"], ["Femenino", "female"], ["Otro", "other"]], {}, { class: select_classes } %>
      <%= form.label :gender, class: label_classes %>
    </div>
  </div>
  <div class="mb-4 relative">
    <%= form.password_field :password, required: user.new_record?, class: input_classes, placeholder: "" %>
    <%= form.label :password, class: label_classes %>
  </div>
  <div class="mb-4 relative">
    <%= form.password_field :password_confirmation, required: user.new_record?, class: input_classes, placeholder: "" %>
    <%= form.label :password_confirmation, class: label_classes %>
  </div>
  <% if user.persisted? %>
    <div class="mb-4 relative">
      <%= form.password_field :current_password, required: true, class: input_classes, placeholder: "" %>
      <%= form.label :current_password, t("pages.account.form.current_password"), class: label_classes %>
    </div>
  <% end %>
  <% if user.new_record? %>
    <div class="flex items-start mb-4">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required>
      </div>
      <label for="remember" class="ml-2 text-sm font-medium text-gray-900"><%= t("pages.account.form.accept") %><%= link_to t("pages.account.form.terms_and_conditions"), sign_up_path, class: "text-primary" %></label>
    </div>
  <% end %>
  <%= form.submit user.new_record? ? t("pages.account.form.sign_up.verb") : t("pages.account.form.update.verb"), class: button_classes(), style: "cursor: pointer;" %>
  <% if user.new_record? %>
    <div class="text-sm text-center mt-4">
      <%= t("pages.account.form.already_have_account") %><%= link_to t("pages.account.form.sign_in.verb"), login_path, class: "text-primary font-semibold" %>
    </div>
  <% end %>
<% end %>
