<div class="flex mx-auto max-w-sm pt-4 justify-center">
  <div class="flex flex-col w-full">
    <div class="flex w-full justify-center items-center gap-4 mb-6">
      <div class="w-24 h-24 flex mb-2">
        <%= avatar(@user) %>
      </div>
      <div class="">
        <p class="text-primary text-lg font-bold">@<%= @user.slug %></p>
        <div class="flex items-center gap-1">
          <div class="w-7 h-w-7 text-star">
            <%= render "icons/star" %>
          </div>
          <div class="text-xl font-medium"><%= @user.rating %></div>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-full">
      <%= turbo_frame_tag "ratings" do %>
        <%= render @ratings %>
      <% end %>
    </div>
  </div>
</div>
