<header class="hidden md:block">
  <nav class="bg-primary">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-8 py-3">
      <a href="/" class="flex items-center">
        <span class="text-white self-center text-2xl font-semibold whitespace-nowrap">ATENAS</span>
      </a>
      <div class="flex items-center md:order-2">
        <% if current_user %>
          <button type="button" class="flex mr-3 text-sm rounded-full md:mr-0" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
            <%= avatar(current_user) %>
          </button>
          <!-- Dropdown menu -->
          <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
            <ul class="p-4" aria-labelledby="user-menu-button">
              <li>
                <%= link_to current_user.email, account_path, class: "block text-sm text-gray-900 font-semibold truncate" %>
              </li>
            </ul>
            <ul class="" aria-labelledby="user-menu-button">
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
              </li>
              <li>
                <%= link_to t("pages.account.sign_out"), logout_path, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="flex gap-x-2">
            <%= link_to t("pages.header.sign_in"), login_path, class: "btn bg-secondary border-secondary hover:text-secondary" %>
            <%= link_to t("pages.header.sign_up"), sign_up_path, class: "btn bg-third border-third hover:text-third" %>
          </div>
        <% end %>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0">
          <li>
            <%= link_to t("pages.header.tasks"), tasks_path, class: "block py-2 pl-3 pr-4 text-white md:p-0 border-primary border-l-2 md:border-l-0 md:border-b-2 hover:border-white" %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to t("pages.header.publications"), my_tasks_path, class: "block py-2 pl-3 pr-4 text-white md:p-0 border-primary border-l-2 md:border-l-0 md:border-b-2 hover:border-white" %>
            </li>
          <% end %>
          <li>
            <%= link_to t("pages.header.how_it_works"), tasks_path, class: "block py-2 pl-3 pr-4 text-white md:p-0 border-primary border-l-2 md:border-l-0 md:border-b-2 hover:border-white" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>