<%= link_to user_path(username: user.username), class: "flex items-center gap-1", data: { turbo_frame: "_top" } do %>
  <div class="w-8 h-8 flex">
    <%= avatar(user) %>
  </div>
  <div class="">
    <div class="text-sm font-medium text-primary">
      @<%= user.username %>
    </div>
    <div class="flex items-center gap-1">
      <div class="w-4 h-4 text-star">
        <%= render "icons/star" %>
      </div>
      <div class="text-sm font-medium"><%= user.rating %></div>
    </div>
  </div>
<% end %>
