<div class="m-auto w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
  <%= form_with url: password_path(params[:password_reset_token]), scope: :user, method: :put, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
    <div class="mb-4 text-lg">
      <%= "i18n Restablecimiento de contrase単a" %>
    </div>
    <div class="mb-4">
      <%= form.password_field :password, required: true, placeholder: "Nueva contrase単a", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>
    <div class="mb-4">
      <%= form.password_field :password_confirmation, required: true, placeholder: "Repetir nueva contrase単a", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>
    <%= form.submit "Actualizar contrase単a", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" %>
  <% end %>
</div>
