<div class="m-auto w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
  <%= form_with model: @user, url: confirmations_path, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
    <div class="mb-4 text-lg">
      <%= "i18n Confirmación de correo" %>
    </div>
    <div class="mb-4 relative">
      <%= form.email_field :email, required: true, class: "block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "" %>
      <%= form.label :email, "i18n Correo", class: "absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4" %>
    </div>
    <%= form.submit "i18n Confirmar", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" %>
  <% end %>
</div>
