<div class="m-auto w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
  <%= form_with model: @user, url: confirmations_path, class: "p-4 border border-gray-300 rounded-lg" do |form| %>
    <div class="mb-4 text-lg">
      <%= t("pages.confirmation.noun") %>
    </div>
    <div class="mb-4 relative">
      <%= form.email_field :email, required: true, class: "input", placeholder: "" %>
      <%= form.label :email, class: "input" %>
    </div>
    <%= form.submit t("pages.confirmation.verb"), class: "btn bg-primary hover:bg-primary-light" %>
  <% end %>
</div>
