<!DOCTYPE html>
<html>
  <head>

    <title>Atenas | Soluciones a tareas académicas</title>
    <meta name="description" content="Atenas es una plataforma que te ayuda a encontrar personas que resuelvan tus tareas académicas.">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.turbo.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="flex flex-col text-dark h-[calc(100dvh)]">
    <%= render HeaderComponent.new(channels: @channels, current_user: current_user) %>
    <main class="flex-1 p-4 bg-gray-50">
      <div id="flash" class="fixed z-10 left-1/2 -translate-x-1/2 top-10 mx-4 flex flex-col items-center gap-2">
        <%= render partial: "shared/flash" %>
      </div>
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
