<!DOCTYPE html>
<html>
  <head>
    <title>Atenas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.turbo.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700" rel="stylesheet">
  </head>

  <body class="bg-msg-me flex flex-col min-h-screen text-dark">
    <%= render partial: "shared/header" %>
    <main class="flex-1 p-4 md:px-24 lg:px-48 xl:px-72 2xl:px-96">
      <%= render partial: "shared/flash_errors" %>
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
